<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenue sur la page principale</h1>
    <button onclick="location.href='{{ url_for('inversion_parameter') }}'">Inversion Parameter</button>
    <button onclick="location.href='{{ url_for('simulation_parameter') }}'">Simulation Parameter</button>
    <form method="post" action="{{ url_for('run_simulation') }}" style="display:inline;">
        <button type="submit">Run Simulation</button>
    </form>
    
    {% if plot_url %}
    <h2>Simulation Results</h2>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Simulation Graph">
    {% else %}
    <p>No simulation data available.</p>
    {% endif %}
</body>
</html>
